.container {
    width: 100%;
    height: 100%;
}
:host {
    display: inline-block;
}
.slot:not(:last-child) .board-slot {
    border-bottom: 1px solid var(--schedule-border-color, rgba(120, 120, 120, 0.7));;
    box-sizing: border-box;
}
.slot {
    position: relative;
}
.time-slot {
    height: 100%;
    display: inline-block;
    width: var(--timeline-width);
    text-align: center;
    top: -9px;
    position: absolute;

    color: rgba(120,120,120,0.8);
    font-family: Arial;
    font-size: 14px;
}
.board-slot {
    float: right;
    height: 100%;
    width: calc(100% - var(--timeline-width));
}